*{
    margin: 0;
    padding: 0;
}
#canvas{
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
}

#action{
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}
.icon {
    width: 2.5em; height: 2.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    margin: 0 15px;
 }
 .action > svg.active {
     /*fill: red; */
     transform: scale(1.2);
     transition: all 0.2s;
 }
 ul {
     position: fixed;
     top: 80px;
     left: 25px;
 }
 li {
     list-style: none;
     border: 1px solid grey;
     width: 25px;
     height: 25px;
     border-radius: 50%;
     margin-bottom: 20px;
 }
 #red {
     background-color: red;
 }
 #blue {
    background-color: blue;
 }
 #green {
    background-color: green;
 }
 #black {
    background-color: black;
 }
 .color.active {
     transform: scale(1.2);
 }