*{
    margin: 0;
    padding: 0;
}
#canvas{
    background: white;
}

#action{
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}
.icon {
    width: 2.5em; height: 2.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 .action > svg.active {
     fill: red;
     transform: scale(1.2);
     transition: all 0.2s;
 }